/01data_type.py.bak
/02variable.py.bak
/03console_input.py.bak
/04str.py.bak
/05operator.py.bak
/06type_convert.py.bak
/07if.py.bak
/08for.py.bak
/09while.py.bak
/10double_dice.py.bak
/11list_test.py.bak
/12tuple_test.py.bak
/13set.py.bak
/14dict_test.py.bak
/15function.py.bak
/16hangman.py.bak
/17module_test.py.bak
/18class.py.bak
/19inheritance.py.bak
/20exception.py.bak
/21exception.py.bak
/22file_read.py.bak
/24file_line.py.bak
/25thread_test.py.bak
/26threading_test.py.bak
/27threading_inheritance.py.bak
/28thread_stop.py.bak
/29tcp_server.py.bak
/30tcp_client.py.bak
/31tcp_server_therad.py.bak
/32tcp_client_thread.py.bak
/mymodule1.py.bak
/random.py.bak
